/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/*
* GENERAL STYLES
*/

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hidden {
  display: none;
}
h1 {
  font-size: 50pt;
  line-height: 50pt;
  letter-spacing: 3px;
  font-family: "AgencyFB-Bold", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
h2 {
  font-family: 'Governor', sans-serif;
  font-size: 21pt;
  line-height: 21pt;
  letter-spacing: 3px;
}
h3 {
  font-size: 16pt;
  line-height: 16pt;
  letter-spacing: 1.8px;
  font-family: "AgencyFB-Bold", sans-serif;
}
h1.blue,
h3.blue {
  color: #448aeb;
}
h1.pink {
  color: #ff50a2;
}
h1.orange,
h3.orange {
  color: #ff5200;
}
h2.brown {
  color: #360000;
}

/*
* HEADER
*/

header.header-intro {
  text-align: center;
  text-transform: uppercase;
  margin-top: 4.5em;
}
header.header-intro h1,
h2,
h3 {
  display: inline-block;
}
header.header-intro h2 {
  margin: 12px 0;
  border-top: 2px solid #448aeb;
  border-bottom: 2px solid #448aeb;
  padding: 16px 0;
}
header.hero {
  background: transparent url("../images/hero.png") center top no-repeat;
  background-size: cover;
  display: table;
  overflow: hidden;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}
h1.sale-info {
  color: #fff;
  background-color: #e45f96;
  font-size: 24pt;
  line-height: 24pt;
  padding: 50px 0;
  letter-spacing: 1px;
}

/*Parallelogram Titles*/

div.container-parallelogram {
  text-align: center;
  padding: 3em 0 1.8em 0;
}
a.parallelogram { 
  transform: skewX(-17deg); 
}
a.parallelogram p { 
  transform: skewX(17deg); 
}
a.parallelogram {
  display: inline-block;
  margin: .5em;
  padding: 17px 2%;
  background: #1B0A09;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "AgencyFB-Bold", sans-serif;
  font-size: 18pt;
  letter-spacing: 1px;
}

/*
* Section LineUp
*/

section.line-up {
  background: transparent url("../images/background-pattern.svg") center top no-repeat;
  background-size: cover;
  padding: 0 10%;
  overflow: auto;
}
section.line-up div.column {
  width: 23.5%;
  margin-right: 2%;
  float: left;
}
section.line-up div.column.last {
  margin-right: 0;
}
section.line-up div.column article {
  margin-bottom: 1.5em;
}
section.line-up div.column article img {
  box-shadow: 0px 9px 15px -4px #222; 
  -webkit-box-shadow: 0px 9px 15px -4px #222;
  -mos-osx-box-shadow: 0px 9px 15px -4px #222;
}

/*
* Section Event
*/

