/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 31, 2017, 3:57:30 PM
    Author     : Los Faroles
*/
@font-face {
    font-family: "HelveticaNeueLTStd-BdCn";
    src: url(../font/HelveticaNeueLTStd-BdCn.woff);
}
@font-face {
    font-family: "AgencyFB-Bold";
    src: url(../font/AgencyFB-Bold.woff.woff);
}
*{
    margin: 0 auto;
    padding: 0 auto;
}
h1 {
  font-size: 50pt;
  line-height: 50pt;
  letter-spacing: 3px;
  font-family: "AgencyFB-Bold", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0px; 
   margin-bottom: 0px; 
   margin: 0px;

}
h2 {
  font-family: 'Governor', sans-serif;
  font-size: 21pt;
  line-height: 21pt;
  letter-spacing: 3px;
}
h3 {
  font-size: 16pt;
  line-height: 16pt;
  letter-spacing: 1.8px;
  font-family: "AgencyFB-Bold", sans-serif;
}
/*----------------------INICIO-----------------------*/
.inicio a{
    position: absolute;
    top:27%;
    left:41%;
    color: white;
    font-size: 29px;
    text-transform: uppercase;
    font-family: "HelveticaNeueLTStd-BdCn";
}
.inicio img.q{

    margin-bottom: -5%;
      width: 100%;
    
}
.inicio img.y {
    width: 100%;
}
.inicio img.l{
       position: absolute;
       margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
} 
@media screen and (max-width: 1270px) {
    .inicio img.l{
        width: 65%;
    }  
}
img {
  max-width: 100%;
  height: auto;
}

.js .imagemap__item {
  display: none;
}
@media screen and (min-width: 48em) {

  .imagemap__item:target {
    display: block;
  }
  .imagemap__item:target > .imagemap__text {
    display: block;
  }
}
.u{
    padding: 20px;
}

/*----------------------PROGRAMACION-----------------------*/
.programacion img{
     position: initial;
     
}
 .programacion img.t{
 width: 100%;
 margin-top: -8px;
} 
/*----------------------FOOTER-----------------------*/
footer img.t{
    width: 100%;
}



@media screen and (max-width: 500px) {
 .programacion img.t{

 margin-top: -2px;
} 
}


.blue {
  color: #448aeb;
}
.pink {
  color: #ff50a2;
}
.orange {
  color: #ff5200;
}
.brown {
  color: #360000;
}
a {
  text-decoration: none;
}


/*
* HEADER
*/
.hdden {
  display: none;
  width: 100%;
}

header.hero {

 
  display: table;
  overflow: hidden;
  width: 100%;
}

/* Navigation */

nav {
  position: fixed;
  display: block;
  width: 82%;
  background-color: #fff;
  padding: 20px 9%;
  z-index: 50;
  top: 0;
}
nav h1 {
  display: inline-block;
  font-size: 20pt;
  line-height: 20pt;
  text-align: left;
   font-family: "AgencyFB-Bold", sans-serif;
}
nav ul li {
  display: inline-block;
  margin: 0 0.5em;
}
nav div.logo-nav {
  float: left;
}
nav div.nav-right {
  float: right;
}
nav a {
  font-size: 16pt;
  line-height: 16pt;
  text-transform: uppercase;
  font-family: "AgencyFB-Bold", sans-serif;
  letter-spacing: 2px;
}
@media screen and (max-width: 1020px) {
  nav h1 {
  display: inline-block;
  font-size: 19pt;
  line-height: 19pt;
  text-align: left;
  font-family: "AgencyFB-Bold", sans-serif;
}
nav a {
  font-size: 15pt;
  line-height: 15pt;
  text-transform: uppercase;
  font-family: "AgencyFB-Bold", sans-serif;
  letter-spacing: 2px;
}
}
@media screen and (max-width: 930px) {
  nav h1 {
  display: inline-block;
  font-size: 18pt;
  line-height: 18pt;
  text-align: left;
  font-family: "AgencyFB-Bold", sans-serif;
}
nav a {
  font-size: 14pt;
  line-height: 14pt;
  text-transform: uppercase;
  font-family: "AgencyFB-Bold", sans-serif;
  letter-spacing: 2px;
}
}
@media screen and (max-width: 870px) {
    nav{

  padding: 15px 3%;

}
  
  }
  @media screen and (max-width: 770px) {
    nav{
  padding: 15px 3%;
}
 nav h1 {

  font-size: 14pt;
  line-height: 14pt;

}
nav a {
  font-size: 12pt;
  line-height: 12pt;

}
ul{
    -webkit-padding-start: 0px;
}
  
  }
  @media screen and (max-width: 630px) {
    nav{
  padding: 15px 3%;
}
 nav h1 {
  display: none;
  visibility: hidden;
  
}
nav a {
  font-size: 12pt;
  line-height: 12pt;

}
nav div.nav-right {
  float: none;
  margin: 0 auto;
  text-align: center;
}
  
  }
    @media screen and (max-width: 620px) {
    nav{
  padding: 8px 3%;
}}
 @media screen and (max-width: 452px) {
nav a {
  font-size: 10pt;
  line-height: 10pt;

}
 }